In [208]:
import os
import pandas as pd
from scripts import data_loading
import glob
import io
from tqdm import tqdm
import pickle

ImportError: cannot import name 'data_loading' from 'scripts' (C:\Users\Ruslan_Golubev\AppData\Local\Continuum\anaconda3\lib\site-packages\scripts\__init__.py)

In [5]:
data_path = r'C:\Users\Ruslan_Golubev\Documents\laba-task3-toxic-comments\NER - GMB\gmb-2.2.0\data\p00'
tags_file_name = '\en.tags'
source_file_name = '\en.met'

In [180]:
data_path = r'C:\Users\Ruslan_Golubev\Documents\laba-task3-toxic-comments\NER - GMB\gmb-2.2.0\data'
columns=['token', 'pos', 'lemma', 'namex', 'sence', 'DN1', 'DN2', 'animacy', 'DN3', 'DN4']

def data_loading(data_path, source_name, tags_file_name):
    tokens_dict = {'raw': [], 
               'pos': [],
               'lemma': [], 
               'ner_target': [],
               'word_net_pos': [],
               'animacy_tag': [],
               'title': [],
               'date': [],
               'genre': []
              }
    for folder in tqdm(glob.iglob(rf"{data_path}\*\*", recursive=False)):
        with io.open(folder + source_name, 'r', encoding='utf-8') as sourse:
            try:
                met_lines = [line.split(': ')[1].strip() for line in sourse.readlines()]
            except Exception as e:
                print(e, source.readlines())
            
            if met_lines[4] != 'Voice of America':
                continue
                
            with io.open(folder+tags_file_name, 'r', encoding='utf-8') as f:
                for line in f.readlines():
                    splitted = line.split('\t')
                    if len(splitted) <= 1:
                        continue
                        
                    tokens_dict['title'].append(met_lines[0])
                    tokens_dict['date'].append(met_lines[1])
                    tokens_dict['genre'].append(met_lines[3])
                    
                    tokens_dict['raw'].append(splitted[0])
                    tokens_dict['pos'].append(splitted[1])
                    tokens_dict['lemma'].append(splitted[2])
                    tokens_dict['ner_target'].append(splitted[3])
                    tokens_dict['word_net_pos'].append(splitted[4])
                    tokens_dict['animacy_tag'].append(splitted[7])
                    
    
    tags_data = pd.DataFrame.from_dict(tokens_dict)

    return tags_data

In [210]:
tags_data = data_loading.data_loading(data_path, source_file_name, tags_file_name)

0it [00:00, ?it/s]

85it [00:00, 845.89it/s]

171it [00:00, 849.20it/s]

250it [00:00, 825.73it/s]

338it [00:00, 840.16it/s]

438it [00:00, 881.99it/s]

538it [00:00, 914.16it/s]

625it [00:00, 898.40it/s]

718it [00:00, 906.08it/s]

805it [00:00, 867.49it/s]

899it [00:01, 885.89it/s]

993it [00:01, 901.28it/s]

1086it [00:01, 908.91it/s]

1181it [00:01, 920.32it/s]

1274it [00:01, 921.48it/s]

1366it [00:01, 917.79it/s]

1458it [00:01, 900.61it/s]

1553it [00:01, 914.14it/s]

1648it [00:01, 918.89it/s]

1740it [00:01, 912.98it/s]

1843it [00:02, 944.21it/s]

1938it [00:02, 938.38it/s]

2039it [00:02, 957.12it/s]

2135it [00:02, 908.37it/s]

2234it [00:02, 930.53it/s]

2330it [00:02, 936.94it/s]

2425it [00:02, 897.56it/s]

2516it [00:02, 877.55it/s]

2616it [00:02, 910.91it/s]

2708it [00:02, 903.27it/s]

2807it [00:03, 927.24it/s]

2902it [00:03, 933.86it/s]

2996it [00:03, 928.14it/s]

3090it [00:03, 884.91it/s]

3183it [00:03, 895.84it/s]

3277it [00:03, 906.71it/s]

3372it [00:03, 917.45it/s]

3465it [00:03, 890.15it/s]

3558it [00:03, 900.03it/s]

3652it [00:04, 909.20it/s]

3744it [00:04, 911.21it/s]

3836it [00:04, 866.05it/s]

3924it [00:04, 835.40it/s]

4015it [00:04, 854.79it/s]

4114it [00:04, 889.96it/s]

4210it [00:04, 908.06it/s]

4310it [00:04, 933.36it/s]

4404it [00:04, 903.65it/s]

4514it [00:04, 953.24it/s]

4617it [00:05, 974.65it/s]

4721it [00:05, 993.27it/s]

4822it [00:05, 994.21it/s]

4922it [00:05, 942.53it/s]

5026it [00:05, 969.75it/s]

5135it [00:05, 1001.28it/s]

5239it [00:05, 1010.26it/s]

5342it [00:05, 1014.05it/s]

5444it [00:05, 990.74it/s]

5544it [00:06, 929.63it/s]

5651it [00:06, 966.01it/s]

5758it [00:06, 994.98it/s]

5865it [00:06, 1015.27it/s]

5971it [00:06, 1026.56it/s]

6085it [00:06, 1055.64it/s]

6192it [00:06, 1048.13it/s]

6298it [00:06, 984.96it/s]

6407it [00:06, 1013.15it/s]

6514it [00:06, 1027.01it/s]

6620it [00:07, 1034.96it/s]

6726it [00:07, 1039.60it/s]

6831it [00:07, 1040.77it/s]

6938it [00:07, 1046.33it/s]

7043it [00:07, 966.61it/s]

7150it [00:07, 993.64it/s]

7261it [00:07, 1025.33it/s]

7384it [00:07, 1077.12it/s]

7502it [00:07, 1105.26it/s]

7629it [00:07, 1147.43it/s]

7745it [00:08, 1142.17it/s]

7861it [00:08, 1058.69it/s]

7981it [00:08, 1095.33it/s]

8093it [00:08, 1096.44it/s]

8216it [00:08, 1130.64it/s]

8331it [00:08, 1133.87it/s]

8450it [00:08, 1149.04it/s]

8638it [00:08, 1299.77it/s]

8840it [00:08, 1387.55it/s]

9064it [00:09, 1563.88it/s]

9278it [00:09, 1698.45it/s]

9501it [00:09, 1825.85it/s]

9729it [00:09, 1938.42it/s]

10000it [00:09, 1052.33it/s]

In [211]:
tags_data

,raw,pos,lemma,ner_target,word_net_pos,animacy_tag,title,date,genre
0,Thousands,NNS,thousand,O,1,Human,Thousands Protest Iraq War in London,"September 24, 2005",newspaper
1,of,IN,of,O,0,O,Thousands Protest Iraq War in London,"September 24, 2005",newspaper
2,demonstrators,NNS,demonstrator,O,1,Human,Thousands Protest Iraq War in London,"September 24, 2005",newspaper
3,have,VBP,have,O,0,O,Thousands Protest Iraq War in London,"September 24, 2005",newspaper
4,marched,VBN,march,O,1,O,Thousands Protest Iraq War in London,"September 24, 2005",newspaper
...,...,...,...,...,...,...,...,...,...
1231274,in,IN,in,O,0,O,Lebanon Delays Presidential Vote for 13th Time,"January 20, 2008",newspaper
1231275,the,DT,the,O,0,O,Lebanon Delays Presidential Vote for 13th Time,"January 20, 2008",newspaper
1231276,new,JJ,new,O,1,O,Lebanon Delays Presidential Vote for 13th Time,"January 20, 2008",newspaper
1231277,government,NN,government,O,1,Organization,Lebanon Delays Presidential Vote for 13th Time,"January 20, 2008",newspaper
1231278,.,.,.,O,0,O,Lebanon Delays Presidential Vote for 13th Time,"January 20, 2008",newspaper